:host {
  display: block;
}

.container {
  color: var(--second);
  height: calc(100vh - var(--header-height));
  .contact-title {
    h1 {
      text-align: center;
      margin: 0;
      font-size: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}