:host {
  display: block;
  animation: showPage 1s;
}

.container {
  color: var(--second);
  height: calc(200vh - var(--header-height));
  margin: 0 clamp(0.5rem, 6vw, 5rem);

  .contact-title {
    display: flex;
    align-items: center;
    margin: clamp(2rem, 5vw, 3rem) 0;

    h1 {
      margin: 0;
      font-size: clamp(1.3rem, 5vw, 8rem);
      width: clamp(60%, 5vw, 70%);
      padding-left: clamp(1rem, 5%, 80px);
    }
    .img-box {
      width: 30%;
      img {
        background: #3498db;
        border-radius: 50%;
        width: clamp(30px, 28vw, 280px);
        height: clamp(30px, 28vw, 280px);
        background-size: cover;
        object-fit: cover;
        filter: saturate(0.6) drop-shadow(2px 7px 6px gainsboro);
        border: 1px solid gainsboro;
      }
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    .contact-form {
      width: 70%;
      .form-group {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-bottom: 1.1rem;
        margin-bottom: 0.5rem;
        .form-data {
          &.not-empty {
            label {
              filter: brightness(0.5);
            }
          }
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          //     width: clamp(250px, 45vw, 710px);
          width: 100%;
          label {
            font-size: clamp(1rem, 3vw, 2rem);
          }
          input,
          textarea {
            background-color: transparent;
            border: 0;
            font-size: 1.2rem;
            color: gainsboro;
            margin-top: 0.5rem;
            width: 100%;

            &:focus-visible {
              outline: none;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              -webkit-box-shadow: 0 0 0px 1000px transparent inset;
            }

            &::placeholder {
              color: gray;
            }
          }

          textarea {
            resize: none;
          }
        }

        .number {
          background-color: #3498db;
          color: #fff;
          border-radius: 50%;
          width: clamp(22px, 4vw, 50px);
          height: clamp(22px, 4vw, 50px);
          line-height: clamp(22px, 4vw, 50px);
          font-size: clamp(0.7rem, 2vw, 1.3rem);
          text-align: center;
          margin-bottom: 10px;
          font-weight: bold;
        }

        .alert {
          position: absolute;
          bottom: 0;
          span {
            color: #ff4444;
            font-size: clamp(0.7rem, 2vw, 0.8rem);
          }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          -webkit-text-fill-color: white;
          -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          box-shadow: 0 0 0px 1000px transparent inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }
      .submit {
        position: relative;
        height: fit-content;
        width: 100%;
        app-button {
          display: flex;
          justify-content: center;
        }
        .stripe {
          width: 100%;
          position: absolute;
          top: 50%;
          height: 1px;
          background-color: gainsboro;
        }
      }
    }
    .contact-details {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .contact-detail-title {
        text-transform: uppercase;
        color:gray;
        filter: drop-shadow(2px 4px 6px black);
      }
      .contact-element {
        padding-top: 1rem;
        span:nth-child(2) {
          padding-left: .5rem;
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    .contact {
      .contact-form {
        order: 2;
        width: 100%;
      }
      .contact-details {
        order: 1;
        width: 100%;
        padding: 0 1rem 2rem;
        font-size: .8rem;
      }

    }
    
  }
}
