<div class="container">
  <div class="contact-title">
    <h1>Let's start a project together</h1>
    <div class="img-box">
      <img src="assets/images/profile-image.webp" />
    </div>
  </div>
  <div class="contact-form">
    <form (ngSubmit)="submitForm()" [formGroup]="contactForm">
      <div class="form-group">
        <div class="number"><span>01</span></div>
        <div class="form-data">
          <label for="name">What's your name?</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Ronda White *"
            required
            formControlName="name"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="number"><span>02</span></div>
        <div class="form-data">
          <label for="email">What's your email?</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="ronda@white.com *"
            required
            formControlName="email"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="number"><span>03</span></div>
        <div class="form-data">
          <label for="organization"
            >What's the name of your organization?</label
          >
          <input
            type="text"
            class="form-control"
            id="organization"
            name="organization"
            placeholder="Ronda & White ©️"
            formControlName="organization"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="number"><span>04</span></div>
        <div class="form-data">
          <label for="services">What services are you looking for?</label>
          <input
            type="text"
            class="form-control"
            id="services"
            name="services"
            placeholder="Web Design, Web Development..."
            formControlName="services"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="number"><span>05</span></div>
        <div class="form-data">
          <label for="message">Your message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="3"
            formControlName="message"
            placeholder="Hello Víctor, can you help me with... *"
          ></textarea>
        </div>
      </div>
      <!--<button type="submit" class="btn btn-primary" size="245">Send it!</button>-->
      <div class="submit">
        <div class="stripe"></div>
        <app-button type="submit" element="Send it!" size="115"></app-button>
      </div>
    </form>
  </div>
</div>
