<div class="container">
  <div class="about-title">
    <h1>A brand must tell a story<span class="ti-cursor">|</span></h1>
  </div>

  <div class="row-contry">
    <div class="flex-col">
      <div class="stripe"></div>
      <div class="country-ball">
        <div class="globe">
          <img
            _ngcontent-ng-c1201107487=""
            id="countryBall"
            src="assets/images/globe.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="about-description">
    <p>
      I help companies from all over the world with tailor-made solutions. With
      each project, I push my work to new horizons, always putting quality
      first.
    </p>
  </div>


</div>
