<div class="container">
  <div class="about-title">
    <h1>A brand must tell a story<span class="ti-cursor">|</span></h1>
  </div>

  <div class="row-contry">
    <div class="flex-col">
      <div class="stripe"></div>
      <div class="country-ball">
        <div class="globe">
          <img
            _ngcontent-ng-c1201107487=""
            id="countryBall"
            src="assets/images/globe.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="about-description">
    <p>
      I help companies from all over the world with tailor-made solutions. With
      each project, I push my work to new horizons, always putting quality
      first.
    </p>
  </div>
</div>
<div class="row pb-1">
  <h2>
    I can help you with<span class="dot">.</span><span class="dot">.</span
    ><span class="dot">.</span>
  </h2>
</div>
<div class="row pb-5">
  <div class="flex-col">
    <h5>01</h5>
    <div class="stripe"></div>
    <h4>Design</h4>
    <p>
      With a solid track record in designing websites, I deliver strong and
      user-friendly digital designs.
    </p>
  </div>

  <div class="flex-col">
    <h5>02</h5>
    <div class="stripe"></div>
    <h4>Development</h4>
    <p>
      I build scalable websites from scratch that fit seamlessly with design. My
      focus is on micro animations, transitions and interaction.
    </p>
  </div>
  <div class="flex-col">
    <h5>03</h5>
    <div class="stripe"></div>
    <h4>The full package</h4>
    <p>
      A complete website from concept to implementation, that's what makes me
      stand out. My great sense for design and my development skills enable me
      to create kick-ass projects.
    </p>
  </div>
</div>
