<div class="main">
    <div id="country" class="country-box">
        <div class="country-text"><span>Located</span><span>in Spain</span></div>
        <img id="countryBall" src="assets/images/globe.svg" class="country-ball">
        <svg width="300px" height="121px" viewBox="0 0 300 121" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" fill="black">
                    <g id="Group">
                        <g id="Hanger">
                            <path
                                d="M239.633657,0 C272.770742,1.0182436e-15 299.633657,26.862915 299.633657,60 C299.633657,93.137085 272.770742,120 239.633657,120 L0,120 L0,0 L239.633657,0 Z M239.633657,18.7755102 C216.866,18.7755102 198.409167,37.232343 198.409167,60 C198.409167,82.767657 216.866,101.22449 239.633657,101.22449 C262.401314,101.22449 280.858147,82.767657 280.858147,60 C280.858147,37.232343 262.401314,18.7755102 239.633657,18.7755102 Z"
                                id="Combined-Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div id="description" class="description">
        <h4><span>Freelance</span> Designer &amp; Developer</h4>
    </div>
    <div id="victor" class="victor">
        <div id="victorName" class="victor-name">
            <h1>Víctor Ramírez</h1>
        </div>
        <div id="victorImage" data-strength="9" class="victor-image"
            (mousemove)="transform('victorImage', $event, true)" (mouseleave)="resetTransform('victorImage')">
            <img src="assets/images/profile-image.webp">
        </div>
    </div>
</div>
<section class="intro">
    <div class="container">
        <div class="row">
            <div>
                 <h4>Helping brands to stand out in the digital era. Together we will set the new status quo. No
                    nonsense, always on the cutting edge.</h4>
            </div>
            <div>
                <span>The combination of my passion for design, code & interaction positions me in a unique place in the web design world.</span>
            </div>
        </div>
        <app-button routerLink='/about' class="about-me" size="120" idElement="about-me" element="About me"/>
    </div>
    <div class="round-div"></div>
</section>
<app-recent-works class="animation-top-slow"/>