:host {
  display: block;
  animation: showPage 1s;
}

.main {
  .menu-scroll {
    z-index: 15;
    transform: scale(0);
    position: fixed;
    top: 2rem;
    right: 2rem;
    transition: all 0.4s ease;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 100%;
    //background-image: url("/assets/images/bg_abstract.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    filter: brightness(0.5);
    transition: all 0.3s ease;
  }

  height: calc(100vh - var(--header-height));

  .country-box {
    z-index: 2;
    position: absolute;
    top: 50%;
    bottom: 0;
    height: fit-content;

    svg {
      filter: drop-shadow(2px 2px 7px #3498db);
    }

    .country-text {
      z-index: 1;
      color: var(--second);
      position: absolute;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-size: 1.6em;
      align-items: center;
      justify-content: center;
      text-align: center;
      left: 2rem;
      padding-right: 3em;
      filter: drop-shadow(2px 2px 3px darkblue);
    }

    .country-ball {
      position: absolute;
      right: 1.65em;
      top: 1.6em;
      width: 70px;
      filter: invert(1) blur(0.7px) drop-shadow(1px 1px 3px darkblue);
      -webkit-animation: globalMove 7s infinite linear;
      animation: globalMove 7s infinite linear;
      -moz-animation: globalMove 7s infinite linear;
    }
  }

  .description {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 5%;
    color: var(--second);
    text-shadow: darkblue 2px 3px 8px;
    filter: drop-shadow(2px 2px 3px darkblue);

    .header-above-h4 {
      position: absolute;
      left: -3vw;
      top: -4vh;
    }

    h4 {
      display: flex;
      flex-direction: column;
      font-size: clamp(1.55em, 2.3vw, 2.5em);
    }

    svg {
      filter: drop-shadow(1px 1px 2px #3498db);
    }
  }

  .victor {
    .victor-name {
      position: absolute;
      bottom: 5%;
      display: flex;
      justify-content: center;
      color: snow;
      text-shadow: darkblue 2px 3px 8px;
      filter: brightness(1.3) drop-shadow(4px 7px 15px darkblue);
      width: 100%;
      z-index: 1;

      h1 {
        font-size: 6em;
        text-align: center;
      }
    }

    .victor-image {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      height: 42em;
      filter: brightness(1.1) grayscale(1) drop-shadow(4px 7px 15px #3498db);
      transition: transform 0.3s cubic-bezier(0.1, 0.33, 0.66, 1);
    }
  }
}

.intro {
  background-color: var(--second);
  position: relative;
  z-index: 1;
  padding: 10rem 2rem;

  h4 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  span {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  .about-me {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 6rem;
  }
}

@keyframes globalMove {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 720px) {
  .country-box,
  .description {
    display: none;
  }

  .victor-image {
    position: relative;
    height: 100vh;

    img {
      position: absolute;
      bottom: 0;
      width: fit-content;
    }
  }
}