<div class="container">
    <div class="work-title">
    <h1>Creating next level digital products</h1>
    </div>
    <app-recent-works/>

    <div class="own-projects">
            <div class="container">
                <div class="my-3">
                    <span>Own projects</span>
                    </div>
                <ul>
                    <li>
                        <div class="work"></div>
                            <div class="work-title">
                                <h3>Starwars</h3>
                            </div>
                            <div class="work-description">
                                <span><a href="https://sevdevelop11.github.io/starwars">Try It!</a></span>
                            </div>
                    </li>
                    <li>
                        <div class="work"></div>
                            <div class="work-title">
                                <h3>Connect4</h3>
                            </div>
                            <div class="work-description">
                                <span><a href="https://sevdevelop11.github.io/connect4">Try It!</a></span>
                            </div>
                    </li>
                    <li>
                        <div class="work"></div>
                            <div class="work-title">
                                <h3>Palindrome</h3>
                            </div>
                            <div class="work-description">
                                <span><a href="https://sevdevelop11.github.io/palindrome/">Try It!</a></span>
                            </div>
                    </li>
                    <li>
                        <div class="work"></div>
                            <div class="work-title">
                                <h3>FitnessApp</h3>
                            </div>
                            <div class="work-description">
                                <span><a href="https://github.com/sevdevelop11/FitnessApp">Look It!</a></span>
                            </div>
                    </li>
                    <li>
                        <div class="work"></div>
                            <div class="work-title">
                                <h3>Airbnb Clone</h3>
                            </div>
                            <div class="work-description">
                                <span><a href="https://github.com/sevdevelop11/airbnb">Look It!</a></span>
                            </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
