:host {
  display: block;
  animation: showPage 1s;
}

.container {
  color: var(--second);
  .work-title {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 3rem;
      margin: 0;
      padding-top: 5rem;
      width: 70%;
      display: block;

      span {
        display: inherit;
      }
    }
  }

  .works {
    padding: 10rem;
    gap: 5rem;
    display: flex;


    .work-description {
    text-align: center;
    span {
      a {
        color: black;
        -webkit-text-stroke: 2px white;
        font-weight: bold;
      }
    }
  }

  app-recent-works {
    width: 100%;
  }

  .own-projects {
    width: 100%;
//    padding: 2rem 10rem 10rem;

    * {
      color: var(--second);
      margin: 0;
    }

    .work {
      height: 1px;
      background-color: var(--second);
      margin-top: clamp(1.5rem, 2.3vw, 2.5rem);
      margin-bottom: clamp(1.5rem, 2.3vw, 2.5rem);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
}

@media screen and (max-width:1024px) {
    .container .works {
      padding: 10rem 5rem;
    }
}

@media screen and (max-width:768px) {
  .container .works {
    padding: 6rem 3rem;
    flex-direction: column;
  }
}
