<div class="overlay-video">
    <video src="assets/video/dron.mp4" loop [muted]="'muted'" [playsInline]="'playsInLine'" autoplay></video>
</div>
<div class="container">
  <div class="row">
    <div class="flex-col">
      <div class="success-title">
        <h1><span>Success.</span> <span>Message sent!</span></h1>
      </div>
      <div class="success-description">
        <p>I will contact you as soon as possible.</p>
      </div>
      <div class="row-contry">
        <div class="flex-col">
          <div class="stripe"></div>
          <app-button routerLink="/contact" element="Back to contact" size="150"></app-button>
        </div>
      </div>

    </div>
    
  </div>
</div>
