<section class="recent-works">
    <div class="container">
        <div class="my-3">
            <span>Recent works</span>
            </div>
        <ul>
            <li>
                <div class="work"></div>
                    <div class="work-title">
                        <h3>Bansacar (Santander)</h3>
                    </div>
                    <div class="work-description">
                        <span>Design & Development</span>
                    </div>
            </li>
            <li>
                <div class="work"></div>
                    <div class="work-title">
                        <h3>VyooTrip</h3>
                    </div>
                    <div class="work-description">
                        <span>Development</span>
                    </div>
            </li>
            <li>
                <div class="work"></div>
                    <div class="work-title">
                        <h3>Beyond up CRM</h3>
                    </div>
                    <div class="work-description">
                        <span>Development</span>
                    </div>
            </li>
            <li>
                <div class="work"></div>
                    <div class="work-title">
                        <h3>Bansatech (Santander)</h3>
                    </div>
                    <div class="work-description">
                        <span>Development</span>
                    </div>
            </li>
            <li>
                <div class="work"></div>
                    <div class="work-title">
                        <h3>BooBoo</h3>
                    </div>
                    <div class="work-description">
                        <span>Development</span>
                    </div>
            </li>
        </ul>
    </div>
</section>