<nav>
  <div class="credits-top">
    <div
      class="btn btn-link btn-left-top py-2"
      (mousemove)="transform('home', $event)"
      (mouseleave)="resetTransform('home')"
      (click)="resetMenu()"
    >
      <a
        id="home"
        href="home"
        routerLinkActive="active"
        class="btn-click magnetic"
        data-strength="20"
        data-strength-text="10"
      >
        <span class="btn-text">
          <div class="credit"><span>©</span></div>
          <div class="cbd">
            <span class="code-by">Code by </span
            ><span class="victor"
              ><span class="victor-span">Victor</span>
              <span class="ramirez">Ramirez</span></span
            >
          </div>
        </span>
      </a>
    </div>
  </div>
  <div id="overlay">
    <div class="menu">
      <ul class="links-wrap">
        <li
          id="work"
          class="btn btn-link"
          routerLinkActive="active"
          [ngClass]="{'d-flex':this.isMenuOpen}"
          (mousemove)="transform('work', $event)"
          (mouseleave)="resetTransform('work')"
          (click)="resetMenu()"
        >
          <a
            routerLink="work"
            class="btn-click magnetic"
            data-strength="20"
            data-strength-text="10"
          >
            <span class="btn-text">
              <span class="btn-text-inner">Work</span>
            </span>
          </a>
        </li>
        <li
          id="about"
          routerLinkActive="active"
          class="btn btn-link"
          [ngClass]="{'d-flex':this.isMenuOpen}"
          (mousemove)="transform('about', $event)"
          (mouseleave)="resetTransform('about')"
          (click)="resetMenu()"
        >
          <a
            routerLink="about"
            class="btn-click magnetic"
            data-strength="20"
            data-strength-text="10"
          >
            <span class="btn-text">
              <span class="btn-text-inner">About</span>
            </span>
          </a>
        </li>
        <li
          id="contact"
          class="btn btn-link"
          routerLinkActive="active"
          [ngClass]="{'d-flex':this.isMenuOpen}"
          (mousemove)="transform('contact', $event)"
          (mouseleave)="resetTransform('contact')"
          (click)="resetMenu()"
        >
          <a
            routerLink="contact"
            class="btn-click magnetic"
            data-strength="20"
            data-strength-text="10"
          >
            <span class="btn-text">
              <span class="btn-text-inner">Contact</span>
            </span>
          </a>
        </li>
        <li
          class="btn btn-link btn-menu"
          [ngClass]="{ 'd-none': this.isMenuOpen }"
        >
          <div
            class="btn-click magnetic"
            data-strength="20"
            data-strength-text="10"
            (click)="toggleMenu()"
          >
            <div class="btn-text">
              <span class="btn-text-inner">Menu</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <app-button
    id="menu-scroll"
    class="menu-scroll"
    element="menu"
    size="64"
    [ngClass]="{'scale-1':this.isMenuOpen}"
    idElement="menu-scroll-btn"
    [isMenuOpen]="isMenuOpen"
    (click)="toggleMenu()"
  />
</nav>
